<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment
---

# ë‹¤ì¤‘ì„ í˜•íšŒê·€(Multiple Linear Regression)

ì´ë²ˆ ê³¼ì œì—ì„œë„ n211 ê³¼ì œ ì—ì„œ ë‹¤ë£¨ì—ˆë˜ housing price datasetì„ ê°€ì§€ê³  ë°°ìš´ ë‚´ìš©ì„ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤.
ë‹¤ìŒ ë§í¬ì—ì„œ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [1]:
# ë°ì´í„°ëŠ” ìºê¸€ì—ì„œ ë°›ìœ¼ì…”ë„ ë˜ê³  ì´ ë§í¬ì—ì„œ ë¶ˆëŸ¬ì™€ë„ ë©ë‹ˆë‹¤.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [2]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 1) ë°ì´í„°ëŠ” May 2014 ~ May 2015 ì˜ 2ë…„ì¹˜ ë°ì´í„°ì…ë‹ˆë‹¤. 2015-01-01 ë¶€í„° í° ë‚ ì§œì˜ ë°ì´í„°ëŠ” í…ŒìŠ¤íŠ¸, ê·¸ ì´ì™¸ì˜ ë°ì´í„°ëŠ” í›ˆë ¨ ë°ì´í„°ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”
- **í›ˆë ¨ë°ì´í„° ìƒ˜í”Œì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [3]:
df.date = pd.to_datetime(df.date) # ë‚ ì§œ í˜•ì‹ ë³€í™˜
df.head()

           id       date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520 2014-10-13  221900.0  ... -122.257           1340        5650
1  6414100192 2014-12-09  538000.0  ... -122.319           1690        7639
2  5631500400 2015-02-25  180000.0  ... -122.233           2720        8062
3  2487200875 2014-12-09  604000.0  ... -122.393           1360        5000
4  1954400510 2015-02-18  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [4]:
train = df[df.date < '2015-01-01']
test = df[df.date >= '2015-01-01']

len(train)

14633

In [21]:
def setData(df):
  train = df[df.date < '2015-01-01']
  test = df[df.date >= '2015-01-01']
  
  return train, test

### 2) ë‘ íŠ¹ì„±(bathrooms, sqft_living)ì„ ì‚¬ìš©í•´ì„œ ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- í•™ìŠµì‹œ ParametersëŠ” ëª¨ë‘ ê¸°ë³¸ê°’ìœ¼ë¡œ í•©ë‹ˆë‹¤.
- ì •ê·œí™”(normalize) ë“± ì¶”ê°€ì ì¸ ë°ì´í„°ì²˜ë¦¬ ì—†ì´ ì§„í–‰í•©ë‹ˆë‹¤.
- **í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì˜ MAE ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [5]:
# label ì •ì˜
target = 'price'
y_train = train[target]
y_test = test[target]

In [6]:
# price í‰ê· ê°’ìœ¼ë¡œ ì˜ˆì¸¡(ê¸°ì¤€ëª¨ë¸)
predict = y_train.mean()
predict

539181.4284152258

In [7]:
# ê¸°ì¤€ëª¨ë¸ë¡œ í›ˆë ¨ ì—ëŸ¬(MAE) ê³„ì‚°
from sklearn.metrics import mean_absolute_error
y_pred = [predict] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)

print(f'í›ˆë ¨ ì—ëŸ¬: {mae:.2f}')

í›ˆë ¨ ì—ëŸ¬: 233570.83

In [8]:
# í…ŒìŠ¤íŠ¸ ì—ëŸ¬(MAE)
y_pred = [predict] * len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬: {mae:.2f}')

í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 233990.69

In [9]:
# ë‹¤ì¤‘ëª¨ë¸ í•™ìŠµì„ ìœ„í•œ íŠ¹ì„±
features = ['bathrooms', 
            'sqft_living']
X_train = train[features]
X_test = test[features]

In [10]:
# ëª¨ë¸ fit
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'í›ˆë ¨ ì—ëŸ¬: {mae:.2f}')

í›ˆë ¨ ì—ëŸ¬: 170777.34

In [11]:
# í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ì ìš©
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬: {mae:.2f}')

í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 179252.53

In [29]:
def modeling(features, model, train, test):
  # íŠ¹ì„±
  features = features
  X_train = train[features]
  X_test = test[features]
  y_train = train[target]
  y_test = test[target]

  # ëª¨ë¸ fit
  model.fit(X_train, y_train)
  y_pred = model.predict(X_train)
  mae = mean_absolute_error(y_train, y_pred)
  print(f'í›ˆë ¨ ì—ëŸ¬: {mae:.2f}')

  # í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ì ìš©
  y_pred = model.predict(X_test)
  mae = mean_absolute_error(y_test, y_pred)
  print(f'í…ŒìŠ¤íŠ¸ ì—ëŸ¬: {mae:.2f}')

  ## ì ˆí¸(intercept)ê³¼ ê³„ìˆ˜ë“¤(coefficients)
  print(f'ì ˆí¸ : {model.intercept_}')
  print(f'íšŒê·€ ê³„ìˆ˜ : {model.coef_}')

  return model

### 3) ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜(coefficients)ì™€ ì ˆí¸(intercept)ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
- **sqft_livingì˜ íšŒê·€ê³„ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [13]:
## ì ˆí¸(intercept)ê³¼ ê³„ìˆ˜ë“¤(coefficients)
model.intercept_, model.coef_

(-50243.56279640319, array([-5158.92591411,   286.13753555]))

In [14]:
## íšŒê·€ì‹
b0 = model.intercept_
b1, b2 = model.coef_

print(f'y = {b0:.0f} + {b1:.0f}x\u2081 + {b2:.0f}x\u2082')

y = -50244 + -5159xâ‚ + 286xâ‚‚

### 4) MSE, RMSE, MAE, $R^2$ ë¥¼ í›ˆë ¨/í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ í™•ì¸í•´ ë³´ì„¸ìš”
- **í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•œ R^2 ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [32]:
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score

def evaluate(features, model, train, test):
  y_train = train[target]
  y_test = test[target]
  X_train = train[features]
  X_test = test[features]
  y_pred_train = model.predict(X_train)
  y_pred_test = model.predict(X_test)

  mse = mean_squared_error(y_train, y_pred_train)
  rmse = mse ** 0.5
  mae = mean_absolute_error(y_train, y_pred_train)
  r2 = r2_score(y_train, y_pred_train)

  mse_t = mean_squared_error(y_test, y_pred_test)
  rmse_t = mse_t ** 0.5
  mae_t = mean_absolute_error(y_test, y_pred_test)
  r2_t = r2_score(y_test, y_pred_test)

  display(pd.DataFrame([['MSE', mse, mse_t],['RMSE', rmse, rmse_t],['MAE', mae, mae_t],['R2', r2, r2_t]], columns=['Metric', 'Score(Training)', 'Score(Test)']))

In [16]:
evaluate(model, train, test)

  Metric  Score(Training)   Score(Test)
0    MSE     6.709905e+10  7.108399e+10
1   RMSE     2.590348e+05  2.666158e+05
2    MAE     1.707773e+05  1.792525e+05
3     R2     5.076086e-01  4.599930e-01

## ğŸ”¥ë„ì „ê³¼ì œ

### ê³µì§€ë¡œ ì•ˆë‚´ë“œë¦¬ëŠ” Github - Discussion í˜ì´ì§€ì— ì˜¬ë ¤ ë³´ì„¸ìš”:)

### 5)  EDAë¥¼ ì§„í–‰í•˜ì‹œê³ , ë‘ê°œ ì´ìƒì˜ íŠ¹ì„±ì„ ì„ íƒí•˜ì—¬ íŠ¹ì„±ê³µí•™(feature engineering)ì„ ì§„í–‰í•œ í›„ ì•„ë˜ì˜ ì§ˆë¬¸ë“¤ì— ëŒ€í•œ ë³¸ì¸ë§Œì˜ ë¦¬í¬íŠ¸ë¥¼ ì‘ì„±í•´ë³´ì‹œê³  ì„œë¡œ ë…¼í•´ ë³´ì„¸ìš”. 
- ì–´ë–¤ ì´ìœ ì—ì„œ í•´ë‹¹ íŠ¹ì„±ê³µí•™ì„ ì§„í–‰í•˜ì…¨ë‚˜ìš”? íŠ¹ì„±ê³µí•™ì„ í†µí•´ ê¸°ëŒ€í•˜ëŠ” íš¨ê³¼ëŠ” ë¬´ì—‡ì´ì—ˆë‚˜ìš”? ë§Œì•½ ì–»ê³ ì í•˜ëŠ” íš¨ê³¼ë¥¼ ì–»ì§€ ëª»í–ˆë‹¤ë©´ ì´ìœ ëŠ” ë¬´ì—‡ì´ë©° ì–´ë–¤ ì•¡ì…˜ì„ ì¶”ê°€í•  ìˆ˜ ìˆì„ê¹Œìš”? 
- íŠ¹ì„±ê³µí•™ì„ ê±°ì¹œ íŠ¹ì„±ì„ í¬í•¨í•´ ë‹¤ìˆ˜ì˜ íŠ¹ì„±ì„ ì‚¬ìš©í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ MSE, RMSE, MAE, R2 ìŠ¤ì½”ì–´ëŠ” ì–´ë– í•œê°€ìš”? í•´ë‹¹ ê²°ê³¼ë¥¼ í†µí•´ ì–»ì„ ìˆ˜ ìˆëŠ” ì¸ì‚¬ì´íŠ¸ëŠ” ì–´ë–¤ ê²ƒì´ ìˆì—ˆë‚˜ìš”? 
- ë§Œë“¤ì–´ì§„ íšŒê·€ê³„ìˆ˜ë¥¼ ì‚¬ìš©í•´ ëª¨ë¸ì„ ì„¤ëª…í•´ ë³¸ë‹¤ë©´? 
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ì€ ê³¼ì†Œì í•©ì¸ê°€ìš”? ê³¼ëŒ€ì í•©ì¸ê°€ìš”? ì¼ë°˜í™”ê°€ ì˜ ëœ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ ì¶”ê°€ë¡œ í•  ìˆ˜ ìˆëŠ” ì•¡ì…˜ì€ ì–´ë–¤ ê²ƒì´ ìˆì„ê¹Œìš”? 

â€»kaggle notebookì—ì„œë„ íŒíŠ¸ë¥¼ ì–»ì–´ ë³´ì„¸ìš”.

In [17]:
df = df[df.bedrooms != 0] # ë°© ì—†ëŠ” ì§‘(?) ì œì™¸
# df[df.bedrooms == 0]

In [22]:
train, test = setData(df)

In [18]:
# (ê±°ì£¼ ë©´ì  / ë°© ê°œìˆ˜)ë¡œ ì§‘ê°’ì„ ì•Œ ìˆ˜ ìˆì„ê¹Œ?
df['sqrt_per_room'] = df.sqft_living / df.bedrooms
df.head()

           id       date     price  ...  sqft_living15  sqft_lot15  sqrt_per_room
0  7129300520 2014-10-13  221900.0  ...           1340        5650     393.333333
1  6414100192 2014-12-09  538000.0  ...           1690        7639     856.666667
2  5631500400 2015-02-25  180000.0  ...           2720        8062     385.000000
3  2487200875 2014-12-09  604000.0  ...           1360        5000     490.000000
4  1954400510 2015-02-18  510000.0  ...           1800        7503     560.000000

[5 rows x 22 columns]

In [30]:
model_room = LinearRegression()
model_room = modeling(['sqrt_per_room'], model_room, train, test)

# ê° ì§‘ì˜ ë°© 1ê°œ ë‹¹ ë©´ì (í‰ê· )ì´ 1 ì¦ê°€í•  ë•Œ ì§‘ê°’ì´ ì•½ 994 ìƒìŠ¹í•  ê²ƒìœ¼ë¡œ ì˜ˆìƒëœë‹¤.

í›ˆë ¨ ì—ëŸ¬: 186981.32
í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 192174.86
ì ˆí¸ : -79488.4001448683
íšŒê·€ ê³„ìˆ˜ : [993.80018006]

In [33]:
evaluate(['sqrt_per_room'], model_room, train, test)

# R^2 ìŠ¤ì½”ì–´ê°€ 0.32ë¡œ, ëª¨ë¸ì´ ì¼ì„ ì© ì˜ í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì´ì§€ ì•ŠëŠ”ë‹¤.
# ê° ì§‘ì˜ ë°© 1ê°œ ë‹¹ ë©´ì (í‰ê· )ì´ ì§‘ê°’ì„ ì˜ˆì¸¡í•˜ëŠ”ë° í¬ê²Œ ë„ì›€ì´ ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤.

  Metric  Score(Training)   Score(Test)
0    MSE     8.922792e+10  8.994389e+10
1   RMSE     2.987104e+05  2.999065e+05
2    MAE     1.869813e+05  1.921749e+05
3     R2     3.451323e-01  3.169083e-01

In [19]:
# (ì§€ìƒì¸µ ë©´ì  / ì¸µ ìˆ˜)ë¡œ ì§‘ê°’ì„ ì•Œ ìˆ˜ ìˆì„ê¹Œ?
df['sqrt_above_per_floor'] = df.sqft_above / df.floors
df.head()

           id       date  ...  sqrt_per_room  sqrt_above_per_floor
0  7129300520 2014-10-13  ...     393.333333                1180.0
1  6414100192 2014-12-09  ...     856.666667                1085.0
2  5631500400 2015-02-25  ...     385.000000                 770.0
3  2487200875 2014-12-09  ...     490.000000                1050.0
4  1954400510 2015-02-18  ...     560.000000                1680.0

[5 rows x 23 columns]

In [34]:
model_floor = LinearRegression()
model_floor = modeling(['sqrt_above_per_floor'], model_floor, train, test)

# ê° ì§‘ì˜ ì§€ìƒì¸µ ìˆ˜ 1ê°œ ë‹¹ ë©´ì (í‰ê· )ì´ 1 ì¦ê°€í•  ë•Œ ì§‘ê°’ì´ ì•½ 368 ìƒìŠ¹í•  ê²ƒìœ¼ë¡œ ì˜ˆìƒëœë‹¤.

í›ˆë ¨ ì—ëŸ¬: 215612.97
í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 220055.78
ì ˆí¸ : 83090.60475149099
íšŒê·€ ê³„ìˆ˜ : [368.2056262]

In [35]:
evaluate(['sqrt_above_per_floor'], model_floor, train, test)

# R^2 ìŠ¤ì½”ì–´ê°€ 0.19ë¡œ, ëª¨ë¸ì´ ì¼ì„ ì© ì˜ í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì´ì§€ ì•ŠëŠ”ë‹¤.
# ê° ì§‘ì˜ ì§€ìƒì¸µ ìˆ˜ 1ê°œ ë‹¹ ë©´ì (í‰ê· )ì´ ì§‘ê°’ì„ ì˜ˆì¸¡í•˜ëŠ”ë° í¬ê²Œ ë„ì›€ì´ ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤.

  Metric  Score(Training)   Score(Test)
0    MSE     1.091497e+11  1.066880e+11
1   RMSE     3.303780e+05  3.266312e+05
2    MAE     2.156130e+05  2.200558e+05
3     R2     1.989214e-01  1.897430e-01

In [36]:
# ìœ„ ë‘ ê°€ì§€ë¥¼ ê°™ì´ ê³ ë ¤í•˜ë©´ ë” ì˜ ì˜ˆì¸¡í•  ìˆ˜ ìˆì„ê¹Œ?
model_total = LinearRegression()
model_total = modeling(['sqrt_per_room', 'sqrt_above_per_floor'], model_total, train, test)

í›ˆë ¨ ì—ëŸ¬: 186717.85
í…ŒìŠ¤íŠ¸ ì—ëŸ¬: 192845.31
ì ˆí¸ : -180779.55683841312
íšŒê·€ ê³„ìˆ˜ : [821.97411013 168.11689353]

In [37]:
evaluate(['sqrt_per_room', 'sqrt_above_per_floor'], model_total, train, test)

# R^2 ìŠ¤ì½”ì–´ê°€ 0.35ë¡œ, ì—¬ì „íˆ ëª¨ë¸ì´ ì¼ì„ ì© ì˜ í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì´ì§€ ì•ŠëŠ”ë‹¤.
# ê° ì§‘ì˜ ë°© 1ê°œ ë‹¹ ë©´ì (í‰ê· )ê³¼ ê° ì§‘ì˜ ì§€ìƒì¸µ ìˆ˜ 1ê°œ ë‹¹ ë©´ì (í‰ê· )ì„ ê°™ì´ ê³ ë ¤í•´ë„ ì§‘ê°’ì„ ì˜ˆì¸¡í•˜ëŠ”ë° í¬ê²Œ ë„ì›€ì´ ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤.

  Metric  Score(Training)   Score(Test)
0    MSE     8.498340e+10  8.578739e+10
1   RMSE     2.915191e+05  2.928948e+05
2    MAE     1.867178e+05  1.928453e+05
3     R2     3.762840e-01  3.484755e-01

In [ ]:
### ê³¼ì í•© / ê³¼ì†Œì í•© ì—¬ë¶€ íŒë‹¨í•˜ëŠ” ë‚´ìš© ì¶”ê°€ í•„ìš”

## ì°¸ê³ ìë£Œ
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)